.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
}

.wrapper h1 {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}
.min_menu {
  display: inline-block;
  flex-direction: column;
}

.min_menu a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1rem;
  border: 1px solid black;
}
