.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 5%;
}

.wrapper h1 {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}
